{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Sobre Mim</h1>
        <p>Olá! Meu nome é Enrico Satin e sou estudante de Ciências da Computação, atualmente cursando o 4º semestre e tenho 19 anos. Sou apaixonado por tecnologia e estou sempre em busca de novos conhecimentos e desafios na área.</p>

        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h2>Habilidades</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">Python</li>
                            <li class="list-group-item">Flask</li>
                            <li class="list-group-item">HTML</li>
                            <li class="list-group-item">CSS</li>
                            <li class="list-group-item">JavaScript</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h2>Experiência</h2>
                    </div>
                    <div class="card-body">
                        <p>Estagiei por 6 meses no colégio onde me formei, foi uma experiência muito proveitosa, aprendi muito sobre o ambiente profissional e sobre informática em si. Lá foi minha primeira vez mexendo profissionalmente com câmeras, DVRs, impressoras, computadores e redes. Trabalhei por 2 meses como instrutor de alunos em uma escola de computação e logo fui chamado para a empresa onde estou hoje. Atualmente, tenho um bom conhecimento de hardware e redes, atuo no cadastro de vendedores, configuração e manutenção dos seus tablets, além de todas as outras coisas que citei anteriormente.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
