{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Projetos Recentes</h1>
            <p class="lead">Aqui estão alguns dos meus projetos mais recentes.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Projeto Sem-Parar</h2>
            <p>Como já diz o nome, replicamos o sistema de catraca do Sem Parar, onde um sensor ultrassônico controlado por arduíno, detectava a presença de um carro e abria a cancela, ao mesmo tempo que mandava uma mensagem no nosso aplicativo celular, avisando quando a catraca abria e quando fechava.</p>
        </div>
        </div>
{% endblock %}